html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #FFF2C5;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 40px;
  /* margin-top: 50px; */
  /* margin-bottom: 20px; */

  /* Shadow border for the form */
  /* border-radius: 20px; */
  /* box-shadow: 0px 0px 10px 10px #00000011;
  padding: 100px; */

  /* Debug border */
  /* border: 1px solid #ff0000; */
}

h1 {
  line-height: 1.2;
  margin-top: 70px;
  margin-bottom: 0;
}

h2 {
  margin-top: 60px;
  font-size: 1em;
}

caption {
  text-align: left;
}

td {
  padding: 4px 10px;
}

.portions {
  margin-top: 40px;
}

.table-ingredient-amount {
  text-align: end;
}

input,
textarea,
select {
  font-family: "Source Serif 4", serif;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  border: none;
}

input[type="file"] {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  display: none;
}

#portions-text {
  margin-left: 0.2em;
  line-height: 30px;
}

.portions-selector {
  display: flex;
  font-size: 16px;
  margin-top: 30px;
}

.portions-selector>* {
  margin-right: 0.5em;
}

#portions-input {
  width: 4em;
  height: 30px;
  text-align: center;
}

.target-portions-setter {
  display: flex;
  font-size: 16px;
  margin-top: 30px;
  padding: 5px 0;
}

.target-portions-setter>* {
  margin-right: 0.5em;
}

.hidden-target-portions-setter {
  margin-top: 30px;
}

.ingredient-list-container {
  display: block;
}

.ingredients-list {
  display: block;
  margin-top: 30px;
}

.text-content {
  margin-top: 30px;
}

/* .auto-resize-textarea {
    width: 100%;
    margin-top: 30px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    border: none;
} */

.graphics-add-ingredient {
  width: 30px;
}

.graphics-add-list {
  width: 50px;
}

.graphics-add-text {
  width: 50px;
}

.graphics-remove-ingredient {
  width: 30px;
}

.graphics-remove-item {
  width: 40px;
}

.button {
  --button-opacity: 0.6;
  --button-hover: 0.9;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  opacity: var(--button-opacity);
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:active {
  opacity: var(--button-hover);
}

.button-text {
  --button-color: rgba(0, 0, 0, 0.55);
  --button-hover: rgba(0, 0, 0, 0.65);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--button-color);
  background-color: var(--button-color);
  outline: none;
  border: none;

  border-radius: 10px;
  padding: 10px 13px;
  margin-top: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  line-height: normal;
}

.button-text:hover,
.button-text:active {
  color: var(--button-hover);
  background-color: var(--button-hover);
}

.button-text span {
  color: white;
}

.container-remove-item {
  display: flex;
  justify-content: end;
}

.container-add-item {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.save-load-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.recipe-view-control {
  margin-top: 70px;
}

@media (min-width: 500px) {
  .container {
    max-width: 500px;
  }
}