* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF2C5;
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 1.6;
}

.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;

    /* debug border */
    /* border: 1px solid #ff0000; */
}

h1 {
    line-height: 1.2;
}

input,
textarea,
select {
    font-family: "Source Serif 4", serif;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    border: none;
}

input[type=text] {
    width: 18em;
    padding-left: 10px;
}

.ingredients-list {
    margin-top: 30px;
}

.text-content {
    margin-top: 30px;
}

/* .auto-resize-textarea {
    width: 100%;
    margin-top: 30px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    border: none;
} */

.button {
    --button-color: #706c5d;
    --button-hover: #31302c;

    display: inline-flex;
    align-items: center;
    background: none;
    color: var(--button-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: var(--button-hover);
}

@media (min-width: 500px) {
    .container {
        max-width: 500px;
    }
}